#footer{
	background: black;
}
#header{
	background: black;
	width: auto;
	height: auto;
	padding-left: 100px;
	padding-right: 40px;
}
.font{
	color: white;
	line-height: 70px;
}
.font1{
	color: white;
	line-height: 70px;
	letter-spacing: 10px;
}
.content{
	margin-bottom: 15px;
	width: auto;
	height: auto;
	background: red;
}
.fix
{
	text-decoration: none;
	color: Blue;
}
.fix1{
	margin-left: 500px;
}
.dropdown-toggle:focus{
	background:black !important;
}
/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width:150px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
